@import 'variables.css';

html {
    margin: 0;
    padding: 0; 
    width: 100%;
}

img{
    max-width: 100%;
    display: block;
  
}
  *,
  *::after,
  *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #eee;
    color: var(--clr-accent-400);
    font-family: var(--ff-base);
    font-size: var(--fs-300) ;
    font-weight: var(--fw-regular);
}
.main-heading{
    display: flex;
    justify-content: center;
    font-family: var(--ff-heading);
}
.paragraph{
    padding: 30px 0;
    margin: 0 7rem 0 7rem;
}
.paragraph p{
    margin-top: 14px;
    margin-bottom: 26px;
    font-family: var(--ff-base);
}
.paragraph h2{
    font-family: var(--ff-heading);
    border-left: 3px solid var(--clr-secondary-400);
    padding-left: 1rem;
}
