@import 'variables.css';

  img{
    max-width: 100%;
    display: block;
  
  }
  *,
  *::after,
  *::before{
    box-sizing: border-box;
  }

/* Footer area */
.container3{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #282c2c;
    color: var(--clr-neutral-100);
  }
  .container3 img{
    margin-left: 10rem;
  }
  .footerabout li{
    list-style: none;
    margin: 1rem;
  }
  .footerabout li a{
    text-decoration: none;
    color: inherit;
  }