@import 'variables.css';

html {
    margin: 0;
    padding: 0; 
    width: 100%;
}

img{
    max-width: 100%;
    display: block;
  
}
  *,
  *::after,
  *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #eee;
    color: var(--clr-accent-400);
    font-family: var(--ff-base);
    font-size: var(--fs-300) ;
    font-weight: var(--fw-regular);
}